<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/grid.css" type="text/css" />
    <link rel="shortcut icon" href="/img/raton.png">
</head>

<body>
    <%- include('../components/header'); %>
        <div class="container-grid">
            <% products.forEach(function (product) { %>
                <div class="card border-info">
                    <img src="img/products/<%=product.foto%>" class="card-img-top" alt="...">
                    <div class="card-body">
                            <h5 class="info-card-title"><%=product.nombre%></h5>
                            <p class="card-text"><%=product.descripcion%></p>
                        <a href="#" class="btn btn-primary">$<%=product.precio%></a>
                    </div>
                </div>
                <% }) %>
        </div>
        <%- include('../components/footer'); %>
</body>

</html>